* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

header h1 {
    font-size: 60px;
    text-align: center;
    padding: 60px;
    width: 102%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(2, 235, 235);
}

header a {
    color: rgb(2, 235, 235);
    text-decoration: none;
    font-weight: bold;
}

header nav {
    float: right;
    margin: 10px;
    position: fixed;
    text-align: center;
    width: 100%;
    top: 0px;
    font-size: 30px;
    word-spacing: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header nav ul li {
    display: inline;
}

.image1 {
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 15%;
    position: static;
}

.main {
    text-align: center;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    word-spacing: 4px;
    line-height: 1.75; 
    flex-wrap: wrap;
    color: rgb(2, 235, 235);
}

.main h2 {
    color: rgb(2, 235, 235);
}

div{
    min-height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.projects {
    text-align: center;
    padding: 120px;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.projects h2 {
    color: rgb(2, 235, 235);
}

.resume {
    text-align: center;
    padding: 120px;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.resume h2 {
    color: rgb(2, 235, 235);
}

.contact {
    text-align: center;
    padding: 120px;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(2, 235, 235);
}

.contact h2 {
    color: rgb(2, 235, 235);
}

footer {
    text-align: center;
    font-size: 60px;
    width: 100%;
    word-spacing: 50px;
}

.social-icon {
    color: rgb(2, 235, 235);
    text-decoration: none;
}

.social-icon:hover {
    color: #ffff;
    transition: 0.25s;
}